/db
/incremental_db
/simulation
/work
/transcript
/vish_stacktrace.vstf
/greybox_tmp
/serv_req_info.txt
/vsim_stacktrace.vstf
/wlft*
*.rpt
*.summary
*.done
*.sof
*.pof
*.qws
*.bak
*.pin
*.mti
*.wlf
!pal565.hex
!bootrom.hex
!cursor.hex
